<body>
  <div class="container1">
    <app-comp1></app-comp1>
  </div>
  
  <div class="container2">
    <div class="uno" > <app-comp2></app-comp2> </div>
    <div class=" dos " > <app-comp3></app-comp3> </div>
    <div class="tres" ><app-comp4></app-comp4></div>
  </div>

</body>