.hu{
    font-size: 1.9rem;
    text-align: center;
    color: azure;
}

.nomb{
    font-size: 5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #7D4497;
}

.circle{
    border-radius: 50%;
    width: 300px;
    height: 400px;
}

p{
    text-align: center;
}
