.hu{
    font-size: 3rem;
    text-align: center;
    color: #FF3BBD;
}

h3{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #9A2EDB;
}

.contImg {
    margin-top: 15rem;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: cornsilk;
  }
 