.container1{
    margin-top: 0%;
    margin-bottom: 0%;
    max-width: 2000px;
    height: 660px;
    background: linear-gradient( to right, #F3D9FF, #E5B3FE);
    
}

.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.uno{
    
    grid-column: 1 / 3;
    grid-row: 1;
    background: linear-gradient( #F3D9FF, #E5B3FE);
    max-width: 650px;
    height: 750px;
}
.dos{
    
    grid-column: 2 / 3;
    grid-row: 1;
    background: linear-gradient( #F3D9FF, #E5B3FE);
   max-width: 650px;
    height: 750px;
}
.tres{
    
    grid-column: 3 / 3;
    grid-row: 1;
    background: linear-gradient( #F3D9FF, #E5B3FE);
    max-width: 650px;
    height: 750px;
}